<h1>Create New User Page</h1>

<form method="POST" action="/users/create">
	<label for="username">
		Username:
		<input type="text" name="username" id="username" />
	</label>

	<label for="password">
		Password:
		<input type="password" name="password" id="password" />
	</label>

	<label for="password-confirmation">
		Confirm Password:
		<input type="password" name="password-confirmation" id="password-confirmation" />
	</label>

	<label for="gender">
		Gender:
		<select id="gender">
			<option value="male">Male</option>
			<option value="female">Female</option>
		</select>
	</label>

	<button>Submit</button>
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token() %>">
</form>